@import "~bootstrap/scss/bootstrap";
@import "./partials/palette.scss";
@import "./partials/common.scss";

//Login e Register
#navbar-access {
    background-color: $green-600;
}
#main-access {
    background-color: white;
}

//Admin style
#admin-header {
    background-color: $green-600;
    height: 4.375rem;

    #user-icon {
        overflow: hidden;
        background-color: $green-600;
        border: none;

        .fa-user {
            background-color: white;
            color: $green-800;
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }

        img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

#sidebarMenu {
    background-color: $green-700;

    a {
        color: $green-50;
    }

    .current-route {
        background-color: $green-200;
        color: $green-900;
    }
}

//dashboard
#dashboard {
    height: calc(100vh - 4.375rem);
}

//Doctor Show
#doctor-show {
    .profile-img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    .profile-cv {
        width: 100%;
        height: 600px;
    }

    .img-placeholder {
        width: 250px;
        height: 250px;
        background-color: $green-200;
        color: $green-900;
        text-decoration: none;
        border-radius: 50%;
    }

    .cv-placeholder {
        width: 300px;
        height: 350px;
        background-color: $green-200;
        color: $green-900;
        text-decoration: none;
    }

    .list-item {
        background-color: $green-700;
        color: $green-50;
    }
}
