@import "~bootstrap/scss/bootstrap";
@import "./partials/palette.scss";
@import "./partials/common.scss";

//Admin style
#admin-header {
    background-color: $green-600;
    height: 4.375rem;
}

#sidebarMenu {
    background-color: $green-700;
    a {
        color: $green-50;
    }
    .current-route {
        background-color: $green-200;
        color: $green-900;
    }
}

//Doctor Show
#doctor-show {
    height: calc(100vh - 4.375rem);
}
