@import "./palette.scss";

//stile comune
main {
    background-color: $green-50;
}

//elementi ripetuti nelle pagine
.btn-link {
    background-color: $green-900;
    color: $green-50;
    text-decoration: none;

    &:hover {
        background-color: $green-500;
        color: $green-800;
    }
}
.btn-access {
    background-color: $green-500;
    color: white;
    text-decoration: none;

    &:hover {
        background-color: $green-800;
        color: $green-500;
    }
}

//elementi input
.my-input {
    border-width: 1px;
    box-shadow: none;
    outline: none;
    &:focus {
        box-shadow: none;
        outline: none;
        border: 1px solid $green-500;
    }
}

.accordion-button {
    width: 5%;
}
