//Palette verdi
//50 è il più chiaro, 950 il più scuro

$green-50: #f0fdf9;
$green-100: #ccfbef;
$green-200: #99f6df;
$green-300: #5eeacd;
$green-400: #2dd4b7;
$green-500: #14b89e;
$green-600: #0d9481;
$green-700: #0f7669;
$green-800: #115e55;
$green-900: #134e47;
$green-950: #042f2c;
